anys==0.3.0
django==4.2.10
django-autocompletefilter==0.0.8
django-import-export==3.3.6
django-pydantic-field==0.3.0
djangorestframework==3.14.0
drf-orjson-renderer==1.7.2
drf-spectacular==0.27.0
ipython==8.18.1
pip-tools==7.3.0
pre-commit==3.6.0
pur==7.3.1
pytest==7.4.4
pytest-cov==4.1.0
pytest-django==4.7.0
pytest-mock==3.12.0
pytest-unordered==0.5.2
ruff==0.1.13
ruff-lsp==0.0.49
